.message_user_actions {
  width: 100%;
}

.message_user_actions input {
	width: 300px;
	margin-left: 10px;
	align-self: left;
}


.messages_list {
	margin-top: 20px;
	overflow: scroll;
	height: 350px;
}

.modal_label {
	width: 60px;
}