body {
  height: 100%;
  width: 100%;
}

.main_header {
  position: absolute;
  z-index: 999999;
  width: 100%;
}

.user_buttons {
  margin-left: 80%;
}

.header {
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(156, 118, 228, 0.7553396358543417) 42%,
    rgba(110, 104, 213, 1) 97%
  );
}

.entries-data {
  display: flex;
  justify-content: flex-start;
}

.inputs input {
  width: 100%;
  box-sizing: border-box;
}

.between {
  justify-content: space-between;
}

.block-center {
  margin: 0 auto;
}

.table-left {
  text-align: left;
  padding: 0 5px;
  width: 50%;
}

.table-right {
  text-align: right;
  padding: 0 5px;
  width: 50%;
}

.group-btn button:not(:last-child) {
  margin-right: 7px;
}

.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entries {
  flex-grow: 1;
  flex-basis: 620px;
  min-height: 400px;
}

.stern-first-table {
  flex-grow: 1;
  width: 40%;
}

.stern-second-table {
  flex-grow: 1;
  width: 40%;
}

.stern-separator {
  flex-grow: 1;
  width: 6%;
}

.output-data {
  line-height: 2.5;
  flex-grow: 1;
}

.output-cows {
  line-height: 1.9;
  flex-grow: 1;
}

.tbinp {
  width: 25px;
}

.width-bl {
  width: 11%;
}

.info-field {
  position: relative;
}

.info {
  border-radius: 10px;
  width: 470px;
  height: 400px;
  position: absolute;
  top: 41px;
  left: 10px;
  z-index: 9090;
}

.admin_user_list_root > .details {
  margin-left: 50px;
  width: 350px;
}

.admin_new_user {
  margin-top: 60px;
  margin-left: 200px;
}

.admin_user_form {
  width: 400px;
}

.button_details {
  margin-left: 20px;
}

.user_item_username {
  width: 250px;
  text-align: left;
}

.admin_user_list_root {
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  width: 400px;
}

.user_item_username {
  font-size: 23px;
}

.user_item {
  display: flex;
  background: rgba(0, 0, 0, 0.055);
  border-radius: 14px;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal_wrapper:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  height: 500px;
  font-family: Arial, sans-serif;
  font-size: 12px;

  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -khtml-border-radius: 20px;

  background-color: white;
}

.modal > h1 {
  padding: 8px;
  margin: -10px -10px 0;
  font-family: verdana, sans-serif;
  font-size: 18px;
  color: white;

  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  -khtml-border-radius: 20px 20px 0 0;

  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

  background-color: rgba(133, 113, 113, 0.452);
}

.modal_content.p {
  text-align: left;
  font-size: medium;
}

.username {
  align-content: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 50px;
}

.close {
  /* background: teal; */
  width: 60px;
  height: 60px;
  position: relative;
}
.close:after {
  content: "";
  height: 60px;
  border-left: 2px solid rgb(15, 1, 1);
  position: absolute;
  transform: rotate(45deg);
  left: 28px;
}

.close:before {
  content: "";
  height: 60px;
  border-left: 2px solid rgb(17, 1, 1);
  position: absolute;
  transform: rotate(-45deg);
  left: 28px;
}

.interactable_text {
  text-shadow: black;
  font-weight: bold;
  text-decoration: underline bold;
}

.logout {
  align-self: flex-end;
}

.modal_next {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  /* height: 500px; */
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: left;

  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -khtml-border-radius: 20px;

  background-color: rgb(214, 244, 237, 0.2);
  background: rgb(214, 244, 237, 0.2);
}

.robot-box {
  width: 150px;
  height: 100px;
}

.robot-box > label {
  margin-left: 10px;
}

.new-form-field {
  border-radius: 10px;
}

.field-title {
  color: rgba(250, 70, 100, 0.9);
  font-size: 15px;
}

.active.brand {
  text-align: left;
}

.alternative-sellers {
  font-weight: bold;
}

.alternative-seller {
  font-style: oblique;
}

.chat_button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999999;
}

.message_modal {
  z-index: 999999;
}
